body {
    margin: 0;
    padding: 0;
}



nav {
    text-align: center;
    background-color:#333333 ;
    position: relative;
    height: 72px;
}
.headI {
    position: absolute;
    left: 50%;
    margin-left: -125px;
    z-index: 1;
    top: 70%;
}

ul ,.nav1 ,.nav2, .nav3{
    margin: 0;
    padding: 10px;
    list-style-type: none;
    display: inline;
    z-index: 2;
    position: relative;
    vertical-align: top;
}

li {
    display: inline-block;
}

header {
    background: black;
    height: 1050px;
    position: relative;
}

.logo {
    position: absolute;
    top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gif {
    background-image: url("/Passion_project/website/images/final-banner.gif");
    height: 994px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.opvullingG {
    background: #333333;
    height: 258px;
    position: relative;
}

.opvulling1 {
    background-image: url("/Passion_project/website/images/black\ vulling\ boven\ onder.png");
    height: 258px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.section1 {
    background: #333333;
    height: 400px;
    position: relative;
}

.line1 {
    height: 5px;
    width: 1200px;
    background: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
}

.line2 {
    height: 5px;
    width: 1200px;
    background: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 10%;
}

.section1 .text p {
    position: absolute;
    width: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    width: 800px;
}

.opvullingW {
    background: white;
    height: 258px;
    position: relative;
}

.opvulling2 {
    background-image: url("/Passion_project/website/images/gray\ vulling\ boven\ onder.png");
    height: 258px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.whiteI {
    background: white;
    height: 1050px;
    position: relative;
}
.Image {
    background-image: url("/Passion_project/website/images/white\ game.png");
    height: 1100px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.opvullingWq {
    background: white;

}

.opvulling3 {
    background-image: url("/Passion_project/website/images/gray\ vulling\ onder\ boven.png");
    height: 258px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.section2 {
    background: #333333;
    height: 1000px;
    position: relative;
}

.opvulling4 {
    background-image: url("/Passion_project/website/images/black\ vulling\ onder\ boven.png");
    height: 258px;
    background-color: #333333;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

footer {
    background-color: black;
    height: 500px;
    position: relative;
}

.nav1 li a {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 13px;
    padding-right: 25px;
    padding-left: 25px;
        font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
}

.nav1 li a:hover {
    background-color: #565656;
    color: white;
  }

  .nav3 li a:hover {
    background-color: #565656;
    color: white;
  }
  

.nav3 li a {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 13px;
    padding-right: 25px;
    padding-left: 25px;
        font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
}

.nav2 li a {
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #ff5715;
}

.nav2 li a:hover {
    color: #ff2a00;
  }

nav ul {
    top: 25%;
}

.line3 {
    height: 5px;
    width: 80%;
    background: #333333;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 25%;
}

.text2 {
    position: absolute;
    right: 10%;
    top: 72%;
}

.text2 p {

    
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #333333;
}

.about {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;

}

.icon1, .icon2, .icon3 {
    padding-right: 120px;
    padding-left: 120px;
    text-align: center;

}

.section2 .about .icon1 p, .section2 .about .icon2 p, .section2 .about .icon3 p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    width: 300px;
}












